<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.css" rel="stylesheet" />
	</head>

	<body>
		<div class="container">
			<h1>商品</h1>
			<img src="./img/jingjing.png" />
			<p class="price">
				<del>998</del>
				<span>9.8</span>
			</p>
		</div>
		<button type="button" class="mui-btn mui-btn-primary" id="btnPayment">录像</button>
		<script src="js/mui.js"></script>
		<script type="text/javascript">
			mui.init()
			mui.plusReady(function () {
			    
				plus.payment.getChannels(hannels=>{
					从
			})
		</script>
	</body>

</html>
